@charset "utf-8";
$rem:75;
/*初始化代码*/
body,div,ul,li,a,span,p,b,i,s,img,input{
	margin:0;
	padding:0;
}
ul,li{
	list-style:none;
}
li{
	display:inline-block;
}
a{
	text-decoration:none;
	display:inline-block;
}
img{
	display:block;
	max-width:100%;
	max-height:100%;
}
input{
	outline:none;
	border:none;
}
.TOBU{
	width:750/$rem*1rem;
	height:42/$rem*1rem;
	padding:12/$rem*1rem 0;
	display:flex;
	align-items:center;
	position:fixed;
	top:15/$rem*1rem;
	left:0;
	z-index:2;
	.location{
		width:121/$rem*1rem;
		height:42/$rem*1rem;
		border-radius:15/$rem*1rem 15/$rem*1rem 15/$rem*1rem 15/$rem*1rem;
		display:flex;
		align-items:center;
		margin-left:24/$rem*1rem;
		background:rgba(0,0,0,0.32);
		transition:background 0.2s;
		.location_light{
			width:22/$rem*1rem;
			height:28/$rem*1rem;
			margin-left:13/$rem*1rem;
		}
		.right{
			width:7/$rem*1rem;
			height:10/$rem*1rem;
			margin-left:18/$rem*1rem;
		}
		p{
			font-size:20/$rem*1rem;
			line-height:42/$rem*1rem;
			color:#ffffff;
			margin-left:9/$rem*1rem;
		}
	}
	.location:hover{
		background:rgba(0,0,0,1);
	}
	.searching{
		width:480/$rem*1rem;
		height:42/$rem*1rem;
		background:#ffffff;
		margin-left:17/$rem*1rem;
		border-radius:21/$rem*1rem 21/$rem*1rem 21/$rem*1rem 21/$rem*1rem;
		display:flex;
		align-items:center;
		.search{
			width:23/$rem*1rem;
			height:22/$rem*1rem;
			margin-left:15/$rem*1rem;
			img{
				width:23/$rem*1rem;
				height:22/$rem*1rem;
			}
		}
		input{
			width:350/$rem*1rem;
			height:100%;
			font-size:20/$rem*1rem;
			margin-left:11/$rem*1rem;
		}
		.voice{
			width:20/$rem*1rem;
			height:24/$rem*1rem;
			margin-left:39/$rem*1rem;
			img{
				width:20/$rem*1rem;
				height:24/$rem*1rem;
			}
		}
	}
	.scan{
		width:28/$rem*1rem;
		height:26/$rem*1rem;
		margin-left:14/$rem*1rem;
		img{
			width:28/$rem*1rem;
			height:26/$rem*1rem;
		}
	}
	.message{
		width:29/$rem*1rem;
		height:28/$rem*1rem;
		margin-left:15/$rem*1rem;
		img{
			width:29/$rem*1rem;
			height:28/$rem*1rem;
		}
	}
}
/*banner图*/
#banner{
	width:750/$rem*1rem;
	height:340/$rem*1rem;
	white-space:nowrap;
	position:relative;
	overflow:hidden;
	img{
		width:750/$rem*1rem;
		height:340/$rem*1rem;
		display:inline-block;
		position:absolute;
		top:0;
		z-index:-1;
	}
	img:nth-child(1){
		left:0;
	}
	img:nth-child(2){
		left:750/$rem*1rem;
	}
	img:nth-child(3){
		left:1500/$rem*1rem;
	}
	img:nth-child(4){
		left:2250/$rem*1rem;
	}
	#circles{
		width:82/$rem*1rem;
		height:12/$rem*1rem;
		margin-top:316/$rem*1rem;
		margin-left:334/$rem*1rem;
		display:flex;
		justify-content:space-between;
		a{
			width:10/$rem*1rem;
			height:10/$rem*1rem;
			border:1/$rem*1rem solid #ffffff;
			border-radius:50% 50%;
			display:inline-block;
		}
		.checked{
			background:#ffffff;
		}
	}
}
/*导航栏*/
#nav{
	width:750/$rem*1rem;
	height:357/$rem*1rem;
	white-space:nowrap;
	position:relative;
	overflow:hidden;
	li{
		width:750/$rem*1rem;
		height:357/$rem*1rem;
		position:absolute;
		top:0;
		display:flex;
		justify-content:space-around;
		flex-wrap:wrap;
		a{
			width:25%;
			height:150/$rem*1rem;
			display:inline-block;
			margin-top:24/$rem*1rem;
			margin-bottom:9/$rem*1rem;
			img{
				width:100/$rem*1rem;
				height:100/$rem*1rem;
				margin:0 auto;
			}
			p{
				line-height:50/$rem*1rem;
				font-size:24/$rem*1rem;
				color:#1c1c1c;
				text-align:center;
			}
		}
	}
	li:nth-child(1){
		left:0;
	}
	li:nth-child(2){
		left:750/$rem*1rem;
	}
}
/*单击按钮切换导航栏页面*/
#nav_circles{
	width:36/$rem*1rem;
	height:12/$rem*1rem;
	margin-top:2/$rem*1rem;
	margin-left:357/$rem*1rem;
	display:flex;
	justify-content:space-between;
	a{
		width:10/$rem*1rem;
		height:10/$rem*1rem;
		display:inline-block;
		border-radius:50% 50%;
		border:1/$rem*1rem solid #65a032;
	}
	.nav_checked{
		background:#65a032;
	}
}
/*每日鲜报*/
.mrxb{
	width:750/$rem*1rem;
	height:75/$rem*1rem;
	margin-top:17/$rem*1rem;
	border-top:1/$rem*1rem solid #eaeaea;
	display:flex;
	align-items:center;
	.creative{
		width:29/$rem*1rem;
		height:33/$rem*1rem;
		margin-left:30/$rem*1rem;
	}
	.tit{
		font-size:28/$rem*1rem;
		color:#65a032;
		margin-left:7/$rem*1rem;
	}
	a{
		height:100%;
		display:flex;
		align-items:center;
		margin-left:35/$rem*1rem;
		span{
			font-size:24/$rem*1rem;
			color:#1c1c1c;
		}
		img{
			width:18/$rem*1rem;
			height:20/$rem*1rem;
			margin-left:9/$rem*1rem;
		}
	}
}
/*限时抢购*/
.xsqg{
	width:750/$rem*1rem;
	border-top:20/$rem*1rem solid #e9e9e9;
	border-bottom:20/$rem*1rem solid #e9e9e9;
	.x_title{
		width:100%;
		height:67/$rem*1rem;
		border-bottom:1/$rem*1rem solid #eaeaea;
		display:flex;
		align-items:center;
		.square{
			width:12/$rem*1rem;
			height:35/$rem*1rem;
			margin-left:24/$rem*1rem;
			background:#65a032;
		}
		span{
			font-size:34/$rem*1rem;
			margin-left:12/$rem*1rem;
			color:#65a032;
			position:relative;
		}
		.time{
			width:152/$rem*1rem;
			height:100%;
			margin-left:388/$rem*1rem;
			display:flex;
			align-items:center;
			span{
				width:40/$rem*1rem;
				height:40/$rem*1rem;
				line-height:40/$rem*1rem;
				border-radius:50% 50%;
				background:#f96004;
				font-size:24/$rem*1rem;
				color:#ffffff;
				margin:0;
				text-align:center;
			}
			b{
				width:16/$rem*1rem;
				font-size:24/$rem*1rem;
				color:#f96004;
				text-align:center;
			}
		}
	}
	.items{
		width:750/$rem*1rem;
		height:300/$rem*1rem;
		display:flex;
		justify-content:space-around;
		a{
			width:200/$rem*1rem;
			height:100%;
			.orange{
				width:183/$rem*1rem;
				height:123/$rem*1rem;
				margin-top:33/$rem*1rem;
				margin-bottom:4/$rem*1rem;
				margin-left:8.5/$rem*1rem;
			}
			.vegetable{
				width:101/$rem*1rem;
				height:156/$rem*1rem;
				margin-top:4/$rem*1rem;
				margin-bottom:0/$rem*1rem;
				margin-left:49.5/$rem*1rem;
			}
			.cherry{
				width:154/$rem*1rem;
				height:122/$rem*1rem;
				margin-top:33/$rem*1rem;
				margin-bottom:5/$rem*1rem;
				margin-left:23/$rem*1rem;
			}
			span,s,p{
				padding-left:28.5/$rem*1rem;
				display:block;
			}
			span{
				line-height:31.15/$rem*1rem;			
				font-size:28/$rem*1rem;
				color:#767676;
			}
			s{
				line-height:26.7/$rem*1rem;
				font-size:24/$rem*1rem;
				margin-top:16/$rem*1rem;
				color:#767676;
			}
			p{
				line-height:31.15/$rem*1rem;
				font-size:28/$rem*1rem;
				color:#f96004;
				margin-top:12/$rem*1rem;
			}
		}
	}
}
/*猜你喜欢，当季推荐*/
.cnxh,.djtj{
	width:750/$rem*1rem;
	.tit{
		width:100%;
		height:88/$rem*1rem;
		position:relative;
		img{
			width:416/$rem*1rem;
			height:10/$rem*1rem;
			position:absolute;
			top:39/$rem*1rem;
			left:167/$rem*1rem;
			z-index:-1;
		}
		span{
			width:100%;
			height:100%;
			line-height:88/$rem*1rem;
			font-size:34/$rem*1rem;
			text-align:center;
			color:#65a032;
			display:block;
		}
	}
	a{
		width:750/$rem*1rem;
		height:260/$rem*1rem;
		display:block;
		img{
			width:750/$rem*1rem;
			height:260/$rem*1rem;
		}
	}
	.c_items{
		width:750/$rem*1rem;
		margin-bottom:30/$rem*1rem;
		display:flex;
		justify-content:space-around;
		a{
			width:213/$rem*1rem;
			height:auto;
			img{
				width:213/$rem*1rem;
				height:194/$rem*1rem;
			}
			.name{
				padding-left:14/$rem*1rem;
				font-size:28/$rem*1rem;
				color:#767676;
				display:block;
				line-height:31.15/$rem*1rem;
				margin-top:13/$rem*1rem;
			}
			.weight{
				padding-left:14/$rem*1rem;
				font-size:24/$rem*1rem;
				color:#767676;
				display:block;
				line-height:26.7/$rem*1rem;
				margin-top:21/$rem*1rem;
			}
			.price{
				padding-left:14/$rem*1rem;
				font-size:28/$rem*1rem;
				color:#f96004;
				display:block;
				line-height:31.15/$rem*1rem;
				margin-top:23/$rem*1rem;
			}
		}
	}
}
/*给“当季推荐”一栏加上下边框*/
.djtj{
	border-top:20/$rem*1rem solid #e9e9e9;
	border-bottom:20/$rem*1rem solid #e9e9e9;
}
/*大家都在买*/
.djdzm{
	width:750/$rem*1rem;
	border-bottom:75/$rem*1rem solid #e9e9e9;
	margin-bottom:101/$rem*1rem;
	.tit{
		width:750/$rem*1rem;
		height:114/$rem*1rem;
		position:relative;
		img{
			width:750/$rem*1rem;
			height:114/$rem*1rem;
			position:absolute;
			top:0;
			left:0;
			z-index:-1;
		}
		.box{
			width:228/$rem*1rem;
			height:90/$rem*1rem;
			border:3/$rem*1rem solid rgba(255,255,255,0.74);
			position:absolute;
			top:9/$rem*1rem;
			left:258/$rem*1rem;
			display:flex;
			align-items:center;
			justify-content:center;
			div{
				width:220/$rem*1rem;
				height:82/$rem*1rem;
				background:rgba(255,255,255,0.74);
				.dajia{
					width:100%;
					line-height:37.83/$rem*1rem;
					font-size:34/$rem*1rem;
					margin-top:12/$rem*1rem;
					color:#65a032;
					text-align:center;
					display:block;
				}
				.pianyi{
					width:100%;
					line-height:20.03/$rem*1rem;
					font-size:18/$rem*1rem;
					margin-top:3/$rem*1rem;
					color:#9d9d9d;
					text-align:center;
					display:block;
					position:relative;
				}
				.pianyi:before{
					content:"";
					width:50/$rem*1rem;
					height:1/$rem*1rem;
					background:#9d9d9d;
					position:absolute;
					top:9.5/$rem*1rem;
					left:11/$rem*1rem;
				}
				.pianyi:after{
					content:"";
					width:50/$rem*1rem;
					height:1/$rem*1rem;
					background:#9d9d9d;
					position:absolute;
					top:9.5/$rem*1rem;
					right:11/$rem*1rem;
				}
			}
		}
	}
	.items{
		width:750/$rem*1rem;
		li{
			width:100%;
			height:250/$rem*1rem;
			border-bottom:1/$rem*1rem solid #eaeaea;
			position:relative;
			.pic{
				width:361/$rem*1rem;
				height:100%;
				display:flex;
				align-items:center;
				justify-content:center;
				float:left;
				img{
					width:341/$rem*1rem;
					height:179/$rem*1rem;
				}
			}
			.name{
				color:#1c1c1c;
				font-size:34/$rem*1rem;
				line-height:37.83/$rem*1rem;
				display:block;
				margin-top:35/$rem*1rem;
			}
			.special{
				color:#676767;
				font-size:26/$rem*1rem;
				line-height:28.93/$rem*1rem;
				display:block;
				margin-top:30/$rem*1rem;
			}
			.price{
				color:#f96004;
				font-size:34/$rem*1rem;
				line-height:37.83/$rem*1rem;
				display:block;
				margin-top:24/$rem*1rem;
			}
			.cart{
				width:49/$rem*1rem;
				height:49/$rem*1rem;
				display:inline-block;
				position:absolute;
				bottom:22/$rem*1rem;
				right:57/$rem*1rem;
				img{
					width:49/$rem*1rem;
					height:49/$rem*1rem;
				}
			}
		}
		li:nth-child(n+2){
			width:100%;
			height:250/$rem*1rem;
			border-bottom:1/$rem*1rem solid #eaeaea;
			position:relative;
			.pic{
				img{
					width:272/$rem*1rem;
					height:178/$rem*1rem;
				}
			}
		}
	}
}
/*尾部*/
.tail{
	width:750/$rem*1rem;
	height:100/$rem*1rem;
	border-top:1/$rem*1rem solid #d7d7d7;
	background:#ffffff;
	position:fixed;
	bottom:0;
	left:0;
	z-index:2;
	display:flex;
	justify-content:space-around;
	a{
		width:70/$rem*1rem;
		height:100%;
		.pic{
			width:100%;
			height:68/$rem*1rem;
			display:flex;
			align-items:center;
			justify-content:center;
			img{
				width:42/$rem*1rem;
				height:40/$rem*1rem;
			}
		}
		span{
			width:100%;
			line-height:22.25/$rem*1rem;
			font-size:20/$rem*1rem;
			color:#515151;
			text-align:center;
			display:block;
		}
	}
	a:nth-child(1){
		.pic{
			img{
				width:42/$rem*1rem;
				height:40/$rem*1rem;
			}
		}
		span{
			color:#65a032;
		}
	}
	a:nth-child(2){
		.pic{
			img{
				width:48/$rem*1rem;
				height:48/$rem*1rem;
			}
		}
	}
	a:nth-child(3){
		.pic{
			img{
				width:43/$rem*1rem;
				height:43/$rem*1rem;
			}
		}
	}
	a:nth-child(4){
		.pic{
			img{
				width:43/$rem*1rem;
				height:42/$rem*1rem;
			}
		}
	}
	a:nth-child(5){
		.pic{
			img{
				width:36/$rem*1rem;
				height:41/$rem*1rem;
			}
		}
	}
}